{{ template "header" }}
<form action="/books/new" method="post">
    <label for="title">Title</label><br>
    <input type="text" name="title"> <br>
    <label for="author">Auhor</label><br>
    <input type="text" name="author"> <br>
    <label for="link">Link</label><br>
    <input type="text" name="link"> <br>
    <label for="coover">Cover</label><br>
    <input type="text" name="cover"> <br>
    <label for="desc">Desc</label><br>
    <textarea name="desc"cols="30" rows="10"></textarea><br>
    <input type="submit" value="ADD"> <br>
</form>
{{ template "footer" }}