body {
    font-family: 'Merriweather', serif;
    background: #F4F2E9;
    margin: 0 auto;
    width: 52em;
}
a {
    text-decoration: none;
    color: #181818;
}

a:hover {
    text-decoration: underline;
}

.cell{
    border: 1px solid #dedcce;
    margin: 1px 0;
    padding: 2px;
    background: #FFFFFF;
    border-radius: 4px;
}
.cell{
    display: flex;
    flex-direction: row;
}
.container img {
    height: 60px;
}
.container span {
    vertical-align: top;
}

.author-name {
    font-size: 10px;
}

.cover-img {
    margin-right: 3px;
}

.footer-ul {
    list-style: none;
    padding-inline-start: 0px;
}

.footer-list {
    display: inline;
}
.random-books {
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin: 0px 0px;
}
.book-cover {
    margin: 20px 5px;
}

.book-cover img {
    height: 130px;
}

@media all and (max-width: 768px) {
    body {
        margin: 0 auto;
        width: 100%;
    }
}